<div class="curriculum-vitae">
    <div class="personal_information row mb-sm-5 m-md-0 p-4 p-sm-5">
        <div class="avatar-box col-4 m-0 p-0">
            <img src="../../../assets/curriculum-vitae/avatar.jpg" alt="">
        </div>
        <div class="info-box col-8 m-0 p-0">
            <div class="user-content row m-0 p-0">
                <div class="user-name col-12 col-md-6 d-flex align-items-end">
                    <span>Mai Phước Lộc</span>
                </div>
                <div
                    class="user-role  col-12 col-md-6 d-none d-sm-flex align-items-center align-items-md-end justify-content-start justify-content-md-end">
                    <span>Lập trình viên Front-end</span>
                </div>
            </div>
            <div class="user-contact d-none d-sm-flex row m-0 p-0">
                <div class="col-12 col-md-5 col-lg-6 d-flex align-items-center">
                    <span><i class="fa-solid fa-calendar"></i> <span class="ms-3">14/09/1998</span></span>
                </div>
                <div class="col-12 col-md-7 col-lg-6 d-flex align-items-center">
                    <span><i class="fa-solid fa-user"></i></span>
                </div>
                <div class="col-12 col-md-5 col-lg-6 d-flex align-items-center">
                    <span><i class="fa-solid fa-phone"></i> <a href="tel:+84707262959" class="ms-3">(+84)
                            0707262959</a></span>
                </div>
                <div class="col-12 col-md-7 col-lg-6 d-flex align-items-center">
                    <span><i class="fa-solid fa-envelope"></i> <a href="mailto:phuocloc.contact@gmail.com"
                            class="ms-3">phuocloc.contact@gmail.com</a></span>
                </div>
                <div class="col-12 col-md-5 col-lg-6 d-flex align-items-center">
                    <span><i class="fa-solid fa-location-dot"></i> <span class="ms-3">Quận 12, Tp.HCM</span></span>
                </div>
                <div class="col-12 col-md-7 col-lg-6 d-flex align-items-center">
                    <span><i class="fa-solid fa-link"></i> <a href="https://github.com/maiphuocloc" target="_blank"
                            class="ms-3">github: maiphuocloc</a></span>
                </div>
            </div>
            <div class="user-contact d-sm-none row m-0 p-0">
                <div class="user-role col-12 d-flex align-items-center justify-content-start">
                    <span>Lập trình viên Front-end</span>
                </div>
            </div>
        </div>
    </div>

    <div class="user-contact d-sm-none px-3 pb-3 px-sm-5 pb-sm-5">
        <div class="d-flex row m-0 p-0">
            <div class="col-12 p-0 d-flex align-items-center">
                <span><i class="fa-solid fa-calendar"></i> <span class="ms-3">14/09/1998</span></span>
            </div>
            <div class="col-12 p-0 d-flex align-items-center">
                <span><i class="fa-solid fa-location-dot"></i> <span class="ms-3">Quận 12, Tp.HCM</span></span>
            </div>
            <div class="col-12 p-0 d-flex align-items-center">
                <span><i class="fa-solid fa-phone"></i> <a href="tel:+84707262959" class="ms-3">(+84)
                        0707262959</a></span>
            </div>
            <div class="col-12 p-0 d-flex align-items-center">
                <span><i class="fa-solid fa-envelope"></i> <a href="mailto:phuocloc.contact@gmail.com"
                        class="ms-3">phuocloc.contact@gmail.com</a></span>
            </div>
            <div class="col-12 p-0 d-flex align-items-center">
                <span><i class="fa-solid fa-link"></i> <a href="https://github.com/maiphuocloc" target="_blank"
                        class="ms-3">github: maiphuocloc</a></span>
            </div>
        </div>
    </div>

    <div class="career-objectives p-3 px-sm-5 pb-sm-5">
        <p class="cv-title m-0 pb-2 mb-3 mb-sm-4">MỤC TIÊU NGHỀ NGHIỆP</p>
        <span>Tôi đang tìm kiếm môi trường làm việc thích hợp để phát triển bản thân, phát triển các
            kỹ năng để phục vụ công việc, giúp công ty hoàn thành các dự án và giúp bản thân ngày càng hoàn
            thiện.</span>
    </div>

    <div class="education p-3 px-sm-5 pb-sm-5">
        <p class="cv-title m-0 pb-2 mb-3 mb-sm-4">HỌC VẤN</p>
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="cv-content m-0">CHUYÊN NGÀNH CÔNG NGHỆ PHẦN MỀM</p>
                <p class="m-0">2016 - 2020</p>
            </div>
            <div class="col-12 col-md-8">
                <b>ĐẠI HỌC CÔNG NGHỆ THÀNH PHỐ HỒ CHÍ MÌNH - HUTECH</b>
                <p class="m-0">Tốt nghiệp loại: <b>Giỏi</b> (GPA: 3.2/4)</p>
            </div>
        </div>
    </div>

    <div class="work-experience p-3 px-sm-5 pb-sm-5">
        <p class="cv-title m-0 pb-2 mb-3 mb-sm-4">KINH NGHIỆM LÀM VIỆC</p>
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="cv-content m-0">LẬP TRÌNH VIÊN FRONT-END</p>
                <p class="m-0">02/2020 - 11/2021</p>
            </div>
            <div class="col-12 col-md-8">
                <b>CÔNG TY TNHH ĐIỆN ĐIỆN TỬ C&T</b>
                <p class="m-0">Công việc chính:</p>
                <ul class="m-0">
                    <li>Nhận yêu cầu và phân tích chức năng của webapp.</li>
                    <li>Dựng wireframe dựa trên yêu cầu của khách hàng.</li>
                    <li>Xây dựng và phát triển giao diện webapp theo yêu cầu của khách hàng.</li>
                    <li>Xây dựng webapp phù hợp trên nhiều thiết bị.</li>
                </ul>
                <p class="m-0">Các dự án tham gia:</p>
                <ul>
                    <li>Phần mềm quản lý kiosk bán vé xe.</li>
                    <li>Phần mềm bán vé xe online.</li>
                    <li>Phần mềm quản lý kiosk căng tin trường học.</li>
                    <li>Phần mềm bán hàng online.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="cv-content m-0">LẬP TRÌNH VIÊN FRONT-END</p>
                <p class="m-0">12/2021 - 12/2022</p>
            </div>
            <div class="col-12 col-md-8">
                <b>CÔNG TY TNHH PHẦN MỀM HOÀN CẦU</b>
                <p class="m-0">Công việc chính:</p>
                <ul class="m-0">
                    <li>Tham gia hỗ trợ trao đổi và lấy yêu cầu trực tiếp từ khách hàng.</li>
                    <li>Xây dựng và phát triển giao diện website/webapp theo thiết kế.</li>
                    <li>Xây dựng website phù hợp trên nhiều thiết bị.</li>
                </ul>
                <p class="m-0">Các dự án tham gia:</p>
                <ul>
                    <li>Xây dựng và phát triển website <a href="https://www.fristi.vn" target="_blank">fristi.vn</a>.
                    </li>
                    <li>Hiệu chỉnh các phần mềm quản lý tài sản.</li>
                    <li>Hiệu chỉnh các app kiểm kê tài sản.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="cv-content m-0">LEADER FRONT-END</p>
                <p class="m-0">01/2023 - 03/2023</p>
            </div>
            <div class="col-12 col-md-8">
                <b>CÔNG TY TNHH PHẦN MỀM HOÀN CẦU</b>
                <p class="m-0">Công việc chính:</p>
                <ul class="m-0">
                    <li>Trao đổi và lấy yêu cầu trực tiếp từ khách hàng.</li>
                    <li>Ước lượng các mốc thời gian dựa trên yêu cầu từ khách hàng.</li>
                    <li>Quản lý tiến độ dự án, quản lý đội nhóm, phân chia công việc cho các thành viên.</li>
                    <li>Xây dựng và phát triển giao diện website/webapp theo thiết kế.</li>
                    <li>Xây dựng website phù hợp trên nhiều thiết bị.</li>
                </ul>
                <p class="m-0">Các dự án tham gia:</p>
                <ul class="m-0">
                    <li>Phát triển website <a href="https://www.fristi.vn" target="_blank">fristi.vn</a> theo yêu cầu bổ
                        sung từ khách hàng.</li>
                    <li>Hiệu chỉnh các phần mềm quản lý tài sản.</li>
                    <li>Hiệu chỉnh các app kiểm kê tài sản.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="skills-certificate p-3 px-sm-5 pb-sm-5 row">
        <div class="skills col-12 col-sm-6">
            <p class="cv-title m-0 pb-2 mb-3 mb-sm-4">CÁC KỸ NĂNG</p>
            <div *ngFor="let item of listSkills" class="skill">
                <p class="mx-0 my-2">{{item.name}}</p>
                <div class="skill-box">
                    <p class="skill-point m-0" [ngStyle]="{'width.%': item.point}">{{item.point}} %</p>
                </div>
            </div>
        </div>
        <div class="certificate col-12 pt-4 p-sm-0 col-sm-6">
            <p class="cv-title m-0 pb-2 mb-3 mb-sm-4">CHỨNG CHỈ</p>
            <ul class="m-0 p-0">
                <li><a href="../../../assets/curriculum-vitae/certificate/certificate_html_css.png"
                        target="_blank">Chứng chỉ hoàn thành khóa học <b>HTML & CSS</b> tại <b>F8</b></a>.</li>
            </ul>
        </div>
    </div>
</div>