p {
  margin: 0px;
}

.project-box,
.accordion {
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0px 2px 6px #dedede;
}

.project-box {
  border-bottom: 1px solid #dedede;
  width: 100%;
}

.project-name,
.project-code {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accordion {
  min-height: 52px;
}

.accordion-button {
  font-weight: bold;
}

.accordion-button:hover {
  background-color: rgb(226, 226, 226);
}

.project-logo {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid silver;
  position: relative;
}

.logo-box {
  cursor: pointer;
}

.logo-box:hover {
  opacity: 0.5;
}

.grid {
  position: relative;
  min-height: 120px;
}

.img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover;
  width: 100%;
}

.add-new-document {
  border: 1px dashed #000;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  height: 126px;
}

.add-new-document:hover {
  opacity: 0.5;
}

.check-done{
  border-color: #198754;
}


/* áp dụng trên 767px */
@media only screen and (min-width: 768px) {

  .project-logo,
  .grid{
    height: 180px;
  }

  .project-name {
    font-size: 32px;
  }

  .project-code, .project-create, .project-update {
    font-size: 24px;
  }
}

/* áp dụng trên 1200px */
@media only screen and (min-width: 1200px) {

  .project-logo,
  .grid {
    height: 187px;
  }

  .project-name {
    font-size: 36px;
  }

  .project-code, .project-create, .project-update {
    font-size: 25px;
  }
}

/* áp dụng trên 1400px */
@media only screen and (min-width: 1400px) {

  .project-logo,
  .grid{
    height: 215px;
  }

  .project-name {
    font-size: 40px;
  }

  .project-code, .project-create, .project-update {
    font-size: 32px;
  }
}
