<div class="project-detail px-2 px-md-5 p-xl-0">
    <div class="project-detail-session my-5">
        <p>{{title}} dự án</p>
        <div class="detail-list">
            <div class="detail-box d-flex align-items-center p-2">
                <p> Tài liệu dự án </p>
            </div>
            <div class="detail-box d-flex align-items-center p-2">
                <p> Quyêt định </p>
            </div>
            <div class="detail-box d-flex align-items-center p-2">
                <p> Xây dựng dự án </p>
            </div>
            <div class="detail-box d-flex align-items-center p-2">
                <p> Tài liệu kỹ thuật </p>
            </div>
            <div class="detail-box d-flex align-items-center p-2">
                <p> Biên bản nghiệm thu </p>
            </div>
        </div>
    </div>
</div>