<div class="project-detail px-2 px-md-5 p-xl-0">
    <div class="project-detail-session my-5">
        <p class="pb-3"><b>{{title}} dự án</b></p>

        <div class="project-box row m-0 p-2 my-3">
            <div class="project-logo col-2 p-0">
                <input #logoBox type="file" accept="image/*" (change)="onFileLogoChanged($event)" hidden />

                <div *ngIf="resourceLogo.length != 1" (click)="logoBox.click()" class="logo-box">
                    <div class="grid">
                        <img src="../../../../assets/project-manager/add-thumbnail-img.png" class="img rounded">
                    </div>
                </div>

                <div *ngIf="resourceLogo.length == 1" (click)="logoBox.click()" class="logo-box">
                    <div *ngFor="let res of resourceLogo">
                        <div class="grid">
                            <img [src]="res.preview" class="img rounded" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="project-info col-10 p-0 ps-2">
                <input type="text" class="form-control project-name mb-2" placeholder="Tên dự án">
                <input type="text" class="form-control project-code mb-2" placeholder="Mã dự án">
                <div class="input-group">
                    <input type="date" class="form-control project-create">
                    <input type="date" class="form-control project-update">
                  </div>
            </div>
        </div>

        <div class="accordion" id="accordionProject">

            <div *ngFor="let item of list_documents" class="accordion-item">
                <h2 class="accordion-header" id="heading{{item.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + item.id" aria-expanded="false"
                        [attr.aria-controls]="'#collapse' + item.id">
                        {{item.title}} ({{item.list.length}})
                    </button>
                </h2>
                <div id="collapse{{item.id}}" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading' + item.id" data-bs-parent="#accordionProject">
                    <div class="accordion-body p-2">
                        <div *ngFor="let list of item.list" class="input-group mb-2">
                            <div class="input-group-text" [ngClass]="{'check-done': list.check ? 'checker' : false}">
                                <input class="form-check-input mt-0" type="checkbox"
                                    [attr.checked]="list.check ? 'checker' : null"
                                    aria-label="Checkbox for following text input">
                            </div>
                            <div class="form-control p-2" [ngClass]="{'check-done': list.check ? 'checker' : false}">
                                <input type="text" class="form-control mb-2" placeholder="Tiêu đề" value={{list.title}}>
                                <textarea  class="form-control" placeholder="Nội dung" value={{list.content}}></textarea>
                            </div>
                        </div>
                        <div class="add-new-document d-flex justify-content-center align-items-center p-2" (click)="addNewDocument(item.document_type)">
                                <span>Thêm mới +</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>