<div class="project-manager">
    <div class="project-manager-session my-5">

        <P class="mb-2">Dự án xem gần đây</P>
        <div class="last-project-list row m-0">
            <div class="project-box p-2 col-3 p-0" routerLink="/project-manager/1">
                <div class="d-inline-flex">
                    <div class="project-logo me-2">
                        <img src="../../../assets/curriculum-vitae/avatar.jpg" alt="">  
                    </div>
                    <div class="project-info">
                        <p class="project-name"><b>Tên dự án</b></p>
                        <p class="project-code">Mã dự án</p>
                    </div>
                </div>
            </div>
        </div>

        <P class="mt-3 mb-2">Danh sách dự án</P>
        <div class="project-list">
            <div class="project-box p-2" routerLink="/project-manager/1">
                <div class="d-inline-flex">
                    <div class="project-logo me-2">
                        <img src="../../../assets/curriculum-vitae/avatar.jpg" alt="">  
                    </div>
                    <div class="project-info">
                        <p class="project-name"><b>Tên dự án</b></p>
                        <p class="project-code">Mã dự án</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>