
p {
    margin: 0px;
}

.last-project-box, .project-list {
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 0px 2px 6px #dedede; 
}

.last-project-box {
    border-bottom: 1px solid #dedede;
    cursor: pointer;
    width: 100%;
}
.project-list {
    overflow-y: scroll;
    max-height: calc(100vh - 320px)
}

.project-list::-webkit-scrollbar
{
	width: 0px;
}

.project-box {
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}

.project-box:last-child {
    border-bottom: 0px;
}

.project-box:hover, .last-project-box:hover {
    background-color: rgb(226, 226, 226);
}

.project-logo {
    border-radius: 5px;
}

.project-logo img {
    max-width: 100%;
    height: auto;
}

.project-name, .project-code {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.project-name{
    font-size: 16px;
}

.project-code, .last-project-info .project-name, .create-at, .update-at {
    font-size: 12px;
}


/* áp dụng trên 767px */
@media only screen and (min-width: 768px) {
    .last-project-spacing:first-child {
        padding-left: 0px;
    }
    
    .last-project-spacing:last-child {
        padding-right: 0px;
    }
}

/* áp dụng trên 1200px */
@media only screen and (min-width: 1200px) {
    .project-name {
        font-size: 20px;
    }
    
    .project-code, .last-project-info .project-name, .create-at, .update-at {
        font-size: 15px;
    }
}

/* áp dụng trên 1400px */
@media only screen and (min-width: 1400px) {
    .project-name {
        font-size: 24px;
    }
    
    .project-code, .last-project-info .project-name, .create-at, .update-at {
        font-size: 18px;
    }
}

